*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc

./__pycache__

/statistics/
/normalized_statistics/
/normalized_clip_statistics/
/dummy
/clip_1*/
/clip_2*/

/statistics*/
/pickles/